a {
	color: #aad18e;
}

a:hover {
	color: #666666;
	text-decoration: none;
}

.dashboard .widget, .dashboard .panel {
    height: -webkit-calc(100% - 12px);
    height: calc(100% - 12px);
}

.site-navbar {
    background-color: #404040;
}

.navbar-brand-logo {
    height: 40px;
    margin-top: -9px;
}

.site-menubar {
    background: #353535;
}

.site-menubar-unfold .site-menu-category {
    color: #999;
}

.site-menu>.site-menu-item.active {
    background: #4b4b4b;
}

.site-menubar-footer>a {
    background-color: #222;
}

.site-menubar-footer>a:focus, .site-menubar-footer>a:hover {
    background-color: #000;
}

tfoot {
    display: table-header-group;
}

.btn.action {
    text-decoration: none;
	margin-left: 5px;
}

.form-material .form-control.focus~.floating-label, .form-material .form-control:focus~.floating-label {
    color: #aad18e;
}

.form-control.focus, .form-material .form-control:focus {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#aad18e),to(#aad18e)),-webkit-gradient(linear,left top,left bottom,from(#aad18e),to(#aad18e));
    background-image: -webkit-linear-gradient(#aad18e,#aad18e),-webkit-linear-gradient(#aad18e,#aad18e);
    background-image: -o-linear-gradient(#aad18e,#aad18e),-o-linear-gradient(#aad18e,#aad18e);
    background-image: linear-gradient(#aad18e,#aad18e),linear-gradient(#aad18e,#aad18e);
}

.page-login-v3:before {
	background: #404040;
}

.page-login-v3 form {
    margin: 0px 0 30px;
}

.page-login-v3 .alert {
	font-size: 13px;
}

.checkbox-primary input[type=radio]:checked+label::before, .checkbox-primary input[type=checkbox]:checked+label::before {
    background-color: #aad18e;
    border-color: #aad18e;
}

textarea:focus, input:focus{
    outline: none;
}

.has-error .form-control-label,
.has-error .text-help {
    color: #f96868;
}

.modal-danger .modal-header {
    color: #fff;
}

.btn-xs {
    padding: 2px 8px;
}

.alert {
    padding: 10px;
	margin-bottom: 15px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px!important;
}

.pagination li>a, .pagination li>span {
    padding: 5px 12px;
}

.btn-slingspector {
    color: #fff;
    background-color: #aad18e;
    border-color: #aad18e;
}

.btn-slingspector:hover {
	background-color: #9bc080;
	border-color: #9bc080;
	color: #FFF;
}

.table-search {
	width: 100%!important;
}

.form-group.required .form-control-label:after {
  	content:"*";
  	color: #f96868;
	padding-left: 4px;
}

.breadcrumb a {
	color: #8cac75;
}

.sling #information .form-group,
.inspection-view .form-group {
    margin-bottom: 10px;
}

.inspection .panel-body {
    padding: 15px 15px;
}

.inspection .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

ul.wizard-steps {
	display: block;
	height: 68px;
	padding-left: 0px;
	margin-bottom: 0px;
}

ul.wizard-steps li {
	list-style: none;
}

ul.wizard-steps li p {
	font-size: 12px;
}

.step-number {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}

.step-desc {
    line-height: 40px;
}

.step-number~.step-desc {
    margin-left: 40px;
}

.panel {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

.inspection .btn-group {
	width: 100%;
	margin-top: 20px;
}

.inspection .form-control-label {
	margin-top: 10px;
}

.inspection .wizard-pane .row {
	padding-left: 0px;
	padding-right: 0px;
}

.options-row {
	padding-bottom: 5px;
}

.question-block {
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 10px;
}

.comments-row,
.photos-row {
	padding-top: 12px;
	display: none;
}

.options-row textarea {
	height: 80px;
}

.photos-row button i {
	padding-right: 10px;
}

.wizard-pane.active {
    display: block;
}

.wizard-pane {
    display: none;
}

.inspection .wizard-pane .required:after {
	content:"*";
  	color: #f96868;
	padding-left: 4px;
}

.has-error .help-block {
	color: #AAA!important;
}

.inspection .has-success .checkbox,
.inspection .has-success .checkbox-inline,
.inspection .has-success .control-label,
.inspection .has-success .help-block,
.inspection .has-success .radio,
.inspection .has-success .radio-inline,
.inspection .has-success.checkbox label,
.inspection .has-success.checkbox-inline label,
.inspection .has-success.radio label,
.inspection .has-success.radio-inline label {
    color: inherit;
}

.dashboard-inspections .alert {
	color: #f96868;
}

.inspection-view h3 {
    display: block;
    margin: 20px 0px;
    float: left;
    width: 100%;
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
}
body > div.page.vertical-align.text-center > div > div > div > form > div.form-group.clearfix > div > label,
 body > div.page.vertical-align.text-center > div.vertical-align-middle > div.panel > div.panel-body > form > div.form-group.form-material.floating  > label.floating-label{
	 font-weight: 500;
     color: black;
     font-size: 15px;
 }
 body > div.page.vertical-align.text-center > div > div > div > p > a,
 body > div.page.vertical-align.text-center > div > div > div > form > div.form-group.clearfix > a{
	color: #2f6509;
    font-weight: 400;
 }

 div.navbar-brand > img.#brand-logo{ padding: 0px!important;}

.navbar-brand-logo {
	display: block;
	margin-left: 5px;
}

#brand-logo {
 	display: none;
	margin-top: -9px;
	margin-left: 5px;
}

.site-menubar-fold #brand-logo {
	display: block;
}

.site-menubar-fold .navbar-brand-logo {
	display: none;
}

#confirm-delete .modal-body, #confirm-delete .modal-footer {
	background: #f1f1f1;
}

#confirm-delete textarea, #confirm-delete input {
	background: #FFF;
	padding: 5px 10px;
}

.question-block.heading {
    background: #EFEFEF;
    line-height: 18px;
    padding-bottom: 0px;
    font-size: 16px;
}

.datatable-footer-container {
    position: relative;
    min-height: 80px;
}

.datatable-footer-container .slingsTable_info,
.datatable-footer-container .dataTables_length {
    float: left;
    clear: both;
}

.datatable-footer-container .slingsTable_info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.step.done {
    color: #fff;
    background-color: #aad18e;
}

.dashboard .page {
    background-image: url('../../global/images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-box {
    background-color: rgba(170, 209, 142, 0.8);
    color: #000;
    width: 100%;
    display: block;
    padding: 20px 20px;
    text-align: center;
}

.dashboard-box:hover {
    background-color: rgba(170, 209, 142, 1);
    color: #000;
}

.dashboard-box .quickstart {
    font-size: 22px;
}

.dashboard-box .details {
    font-size: 30px;
}

/***********************/
/* FUNKY RADIO BUTTONS */
/***********************/

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #aad18e;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.site-menubar-footer>a {
    width: 50%;
}

.datepicker-dropdown {
    z-index: 9999;
}